@import "compass";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";

$brandColour: #f54997;

body {
    font-family:'Lato',sans-serif;
    background-image:url(../img/bg.png);
}

.container,.row,html,body {
    height:100%;
}

.vert-center {
    position:relative;
    top:50%;
    @include transform(translateY(-50%));
}

.input-lg {
    margin-top:5px;
    margin-bottom:5px;
}

.panel-title {
    text-transform:uppercase;
    font-size:24px;
}

.roman-type {
    font-family:'Marcellus SC',Georgia,Times,Times New Roman,serif;
    font-weight:bold;
}

.input-lg {
    font-weight:700;
}

.romanInput,.arabicInput {
    transition: all 0.1s ease;
}

.no-margin-bottom {
    margin-bottom:0
}

a,a:hover,a:focus,a:active,a:visited {
    color:$brandColour;
}

.text-light {
    color:#fff;
}

.error-row {
    display:none;
}

.form-control:focus {
    border-color: $brandColour;
    $color-rgba: rgba(red($brandColour), green($brandColour), blue($brandColour), .6);
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
}